.square:nth-child(n + 1):nth-child(-n + 3) {
 border-bottom: 6px solid #A955C2;
}

.square:nth-child(n + 4):nth-child(-n + 6) {
 border-bottom: 6px solid #A955C2;
}

.square:nth-child(3n+2){
     border-left: 6px solid #A955C2;
     border-right: 6px solid #A955C2;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
     font: 'Verdana', sans-serif;
    padding: 0;
    width: 100px;
    height: 100px;
    font-size: 120px;
    background-color: #44425e;
    color: #c4c4c4;
    border:none
}
 
